name: cd

on:
  push:
    branches: [main]

jobs:
  Deploy:
    name: Deply
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.25.1"

      - name: Run build script
        run: ./scripts/buildprod.sh
